button {
font-size:0.8em;
display:inline-block;
float:right;
padding-top:0;
padding-bottom:0;
}
table {
text-align:center;
width:100%;
}
td{
margin:0.1em;
vertical-align:top;
padding:0.2em;
}
.lvl1 {
background-color: orange;
}
.lvl2 {
background-color: white;
}
.lvl3 {
background-color: lightblue;
}
.state {
color: black;
background-color:gray;
}
.on, .active {
color:white;
background-color: green;
}
.off, .inactive {
color:white;
background-color: darkred;
}
p {
margin: 0.2em;
font-weight:bold;
text-align:center;
}
.thumbnail {
width:150px;
}
